#hero {
  background-image: url('../../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 150px);
}

.HeroButton {
  color: var(--lg-light);
  background-color: var(--lg-dark);
  text-transform: uppercase;
}

.HeroButton:hover {
  color: var(--lg-light);
  background-color: var(--lg-hover);
}

.hero-info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px 0;
}
