:root {
	--lg-dark: #292b3a;
	--lg-light: #f8f9fa;
	--lg-hover: #363336;
	--lg-active: #405069;
}
body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Young Serif', serif;
	color: var(--lg-dark);
	font-weight: 400;
}

h1 {
	font-size: 3em;
	letter-spacing: 0.05em;
}

h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2.2em;
}
h4 {
	font-size: 1.8em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.2em;
}

a {
	color: var(--lg-dark);
}
a:hover {
	color: var(--lg-hover);
}
button {
	background-color: var(--lg-dark);
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/*Buttons*/
.add-project-btn {
	background-color: var(--lg-dark);
	color: var(--lg-light);
	border: none;
}
.add-project-btn:hover {
	background-color: var(--lg-hover);
	color: var(--lg-light);
}

/* Paddings */
.padding-lg {
	padding-top: 8em;
	padding-bottom: 8em;
}

.banner-padding {
	padding: 2em 0;
}

/* Nav */

.nav-link.active,
.nav-link:hover {
	text-decoration-line: underline;
	text-underline-offset: 21px;
	text-decoration-thickness: 4px;
	text-decoration-color: var(--lg-dark);
}

.loginBtn,
.logoutBtn:hover {
	cursor: pointer;
}

/* Sections */
.section-title {
	padding-bottom: 2em;
	text-align: center;
}

/* Contact Form */
.form-btn {
	background-color: var(--lg-dark);
	color: white;
	text-transform: uppercase;
}
.form-btn:hover {
	background-color: var(--lg-hover);
	color: white;
}

/* Footer */
#footer {
	background-color: var(--lg-dark);
	color: var(--lg-light);
}
/* Projects */
.project-card:hover {
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}
.card-img-overlay {
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 0;
	height: 50%;
}
.projectBtn {
	background-color: var(--lg-dark);
	color: var(--lg-light);
}
.projectBtn:hover {
	background-color: var(--lg-hover);
	color: var(--lg-light);
}

/* Hero */
#hero {
	background-image: url('./assets/hero-1.webp');
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

#heroImage {
	outline: 5px solid var(--lg-dark);
	margin-top: 83px;
}

.HeroButton {
	color: var(--lg-light);
	background-color: var(--lg-dark);
	text-transform: uppercase;
}

.HeroButton:hover {
	color: var(--lg-light);
	background-color: var(--lg-hover);
}

.hero-info {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 40px 0;
}

/* Contact */

.contact-social a {
	font-size: 2em;
}

.contact-social a {
	margin-left: 35px;
}
.contact-info {
	color: #4a4e69;
}
.social-buttons {
	font-size: 2em;
	background-color: #22223b;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

.contact-info .card {
	border: none;
	border-bottom: 10px solid #22223b;
	border-radius: 5px;
}

a.social-button {
	line-height: 0;
}

#contact-details {
	background-color: var(--lg-light);
}
